@import 'custom';

.img-container:hover .card-img-overlay {
  opacity: 1;
}

.img-container:hover .card-img-top {
  transition: 0.3s ease-out;
  opacity: 0;
}
.card-img-overlay {
  opacity: 0;
  transition: 0.3s ease-in;
}
