$primary: #98179c;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1840px,
);

@import '../node_modules/bootstrap/scss/bootstrap';

.img-container:hover .card-img-overlay {
  opacity: 1;
}

.img-container:hover .card-img-top {
  transition: 0.3s ease-out;
  opacity: 0;
}
.card-img-overlay {
  opacity: 0;
  transition: 0.3s ease-in;
}

html {
  font-size: calc(10px + 1vmin);
}
